

.introduce {
  background-color: var(--section-bg-color);
}

.introduce__item {
  padding-block: 30px;
  padding-inline: 15px;
  background-color: #000;
  text-align: center;
}

.introduce__item h2 {
  color: var(--light-text-color);
  font-size: 26px;
  font-weight: 600;
}

.introduce__item p {
  color: #9b9b9b;
  font-size: 14px;
  font-weight: 400;
}

.introduce__item:after {
  content: "";
  position: absolute;
  right: 15px;
  left: 15px;
  top: auto;
  bottom: 6px;
  height: 1px;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#000),
    color-stop(50%, #2a2a2a),
    to(#000)
  );
  background: -webkit-linear-gradient(left, #000, #2a2a2a 50%, #000);
  background: -o-linear-gradient(left, #000, #2a2a2a 50%, #000);
  background: linear-gradient(to right, #000, #2a2a2a 50%, #000);
}

.home__about {
  text-align: center;
  padding-block-start: 50px;
  padding-block-end: 70px;
}

.home__about-content {
  max-width: 690px;
  margin-inline: auto;
}

.home__about-content h2 {
  font-size: 42px;
  text-align: center;
  color: #000;
  margin-block-end: 30px;
  line-height: 1.1;
  letter-spacing: 0.6px;
  font-weight: 500;
}

.home__about-content p {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #3e3e3e;
  margin-inline: auto;
  margin-block-end: 40px;
  max-width: 624px;
}

.home__about-btn {
  background-color: #000;
  padding-inline: 25px;
  padding-block: 16px;
  color: var(--light-text-color);
}

.home__shop,
.home__book,
.home__review {
  background-color: var(--section-bg-color);
  padding-block: 60px;
}

.home__review {
  background-color: #fff;
}

.home__shop-content h2 {
  font-size: 30px;
  line-height: 1.15;
  letter-spacing: 0.8px;
  text-align: center;
  color: #000;
  font-weight: 500;
  margin-block-end: 30px;
}

.home-shop-item__img {
  height: 250px;
}

.home-shop-item__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-shop-item__brief {
  padding-inline: 16px;
  padding-block: 16px;
  background-color: #fff;
}

.home-shop-item__brief .date {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #696969;
  margin-block-end: 5px;
}

.home-shop-item__brief h3 {
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 1px;
  color: #000;
}

.home-shop-item__brief h3 a {
  color: inherit;
}

.home-shop-item__brief p {
  font-size: 14px;
  line-height: 1.5;
}

.slick-initialized .slick-slide {
  margin: 0 10px;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  line-height: 1;
  z-index: 5;
  outline: none;
  background: none;
}

.slick-prev {
  left: 30px;
}
.slick-next {
  right: 30px;
}

.home__tour {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
  grid-auto-rows: 12.5rem;
  grid-auto-flow: dense;
  gap: 8px;
  padding-inline: 8px;
  padding-block: 8px;
  background-color: #fff;
}

.home__tour figure {
  position: relative;
  overflow: hidden;
  margin-block-end: 0;
}

.home__tour img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
  transition: scale 0.3s ease-in-out;
}

.home__tour figure:hover img {
  scale: 1.125;
}

.home__tour figure figcaption {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.book-item {
  background-color: #000;
  padding-block: 20px;
  padding-inline: 30px;
}

.book-item__num {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -2px;
  color: #faba40;
}

.book-item__brief h3 {
  color: #fff;
  margin-block-end: 5px;
  font-size: 20px;
  line-height: 1.08;
  letter-spacing: 0.8px;
}

.book-item__brief div {
  font-size: 14px;
  line-height: 1.57;
  color: #a39e9e;
}

.home-review__wrapper {
  max-width: 970px;
  margin-inline: auto;
  padding-inline: 15px;
  border: 1px solid #ddd;
}

.home-review__title {
  font-size: 30px;
  line-height: 0.84;
  letter-spacing: 1px;
  text-align: center;
  color: #231f20;
  margin-block-end: 35px;
  margin-block-start: -16px;
}

.home-review__title span {
  background-color: #fff;
  padding-inline: 10px;
  display: inline-block;
}

.home-review__item {
  padding-block-end: 30px;
}

.home-review__item .top {
  padding-block-end: 20px;
}

.home-review__item .top .title {
  font-size: 24px;
  line-height: 1.21;
  letter-spacing: 1px;
  color: #000;
  margin-block-end: 10px;
}

.home-review__item .top .meta {
  font-size: 16px;
  font-weight: 600;
  color: #696969;
}

.home-review__item .bot {
  font-size: 18px;
  font-style: italic;
  line-height: 1.62;
  text-align: center;
  color: #231f20;
}

.home-review__button {
  text-align: center;
  margin-block-end: -22px;
  padding-block-start: 30px;
}


.slick-dots__review {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 0 10px;
}

.slick-dots__review button {
  font-size: 0;
  width: 12px;
  height: 12px;
  border-radius: 100rem;
  background-color: #ccc;
  border: none;
  outline: none;
  transition: all 0.2s linear;
}

.slick-dots__review .slick-active button {
  background-color: #000;
}

@media (min-width: 600px) {
  .home__tour figure:nth-child(1) {
    grid-area: span 2 / span 2;
  }

  .home__tour figure:nth-child(4n + 1) {
    grid-row: span 2;
  }

  .home__tour figure:nth-child(4n + 2) {
    grid-column: span 2;
  }
}

@media (min-width: 992px) {
  .introduce__item {
    background-color: var(--section-bg-color);
  }

  .introduce__item h2 {
    color: var(--text-color);
  }

  .introduce__item p {
    line-height: 1.5;
    color: #2f2f2f;
  }

  .introduce__item.has-border::before {
    content: "";
    position: absolute;
    width: 21px;
    height: 150px;
    top: 50%;
    bottom: 0;
    left: -10px;
    border-left: 1px solid rgba(204, 204, 204, 0.7);
    transform: translateY(-50%);
  }

  .introduce__item::after {
    display: none;
  }

  .home__shop-content h2 {
    font-size: 40px;
  }

  .home-shop-item__brief h3 {
    font-size: 20px;
  }
}
